body{
    font-family: sans-serif;
}

.box{
    width: 1200px;
    margin: 0 auto;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
    border-radius: 25%;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a {
    text-decoration: none;
    color: #05364d;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.main-navigation__item a:hover {
    color: #ff6600;
}

.main-navigation__item.active a {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 3px;
}

